<%- include("../includes/head", { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include("../includes/navigation") %>

    <main>
      <h1>Your Orders</h1>
    </main>
<%- include("../includes/end") %>